In [1]:
print(3**2)

9

In [3]:
print(pow(3,2))

9

#Primitive data types

In [4]:
type(3.123)

float

In [5]:
type("Dog")

str

In [6]:
isinstance(3.455,float)

True

#Type casting

In [7]:
float(3)

3.0

In [8]:
int(3.212)

3

#Speacial

In [10]:
name=input("Please enter your name: ")
print(name)

Please enter your name: udara
udara

In [11]:
num1=float(input("Enter the first value:"))
num2=float(input("Enter the second value:"))

num3=num1+num2
print(num3)

Enter the first value:10
Enter the second value:20.1
30.1

# Compound data types

1.List

In [12]:
L=[23,33,22,23,21,23]
print(L)

[23, 33, 22, 23, 21, 23]

In [13]:
len(L)

6

In [14]:
type(L)

list

In [16]:
L[2]

22

In [17]:
L[1:5]

[33, 22, 23, 21]

In [18]:
L[:-1]

[23, 33, 22, 23, 21]

In [19]:
L[::5]

[23, 23]

In [20]:
L[0]=100
L

[100, 33, 22, 23, 21, 23]

In [21]:
L=[]
L.append(30)
L.append(40)
L.append(50)
print(L)

[30, 40, 50]

In [22]:
L=[12,22,34,32]
L.extend([40,50,60])
print(L)

[12, 22, 34, 32, 40, 50, 60]

In [23]:
L=[23,36,54,60,70]
L.insert(3,100)
print(L)

[23, 36, 54, 100, 60, 70]

In [24]:
L=[23,36,54,60,70]
L.remove(60)
print(L)

[23, 36, 54, 70]

In [25]:
L=[23,36,54,60,70]
del(L[2])
print(L)

[23, 36, 60, 70]

In [26]:
L=[12,22,23,34,32,33]
L.pop(2)

23

In [27]:
60 in L

False

In [30]:
L.sort()
L

[12, 22, 32, 33, 34]

In [31]:
L.count(33)

1

In [32]:
L.index(32)

2

2.Tuples

In [33]:
T=(23,33,34,45,56)
print(T[1:3])

(33, 34)

In [34]:
T[0]=30

TypeError: 'tuple' object does not support item assignment

3.Sets

In [35]:
S={23,33,45}
S.add(50)
print(S)

{33, 50, 45, 23}

In [36]:
S={23,33,45}
S.update([50,50,60,70])
print(S)

{33, 70, 45, 50, 23, 60}

In [37]:
S={23,33,45}
S.remove(45)
print(S)

{33, 23}

In [38]:
A={2,3,4,5,6}
B={4,5,6,7,8}
A.union(B)

{2, 3, 4, 5, 6, 7, 8}

In [39]:
A.intersection(B)

{4, 5, 6}

In [ ]:
#Casting compund data

In [40]:
L=[2,3,4,5,6,6,6,7,8,9]

In [41]:
T=tuple(L)
print(T)

(2, 3, 4, 5, 6, 6, 6, 7, 8, 9)

In [42]:
S=set(L)
print(S)

{2, 3, 4, 5, 6, 7, 8, 9}

In [43]:
T=(4,5,6,7)

In [44]:
L=list(T)
print(L)

[4, 5, 6, 7]

4.Dictionories

In [45]:
d={"Name":["Sam","Kane","Jane"],"Age":[23,33,45]}
d

{'Name': ['Sam', 'Kane', 'Jane'], 'Age': [23, 33, 45]}

In [46]:
d.keys()

dict_keys(['Name', 'Age'])

In [47]:
d.values()

dict_values([['Sam', 'Kane', 'Jane'], [23, 33, 45]])

In [48]:
d.get("Age")

[23, 33, 45]

In [54]:
k={"A":30,"B":70}
del k["A"]
k

{'B': 70}